<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="checkVersionURL" value="https://3wa.tw/site_check/api.php?mode=getNewestSystemCheckVersion" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>