<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--這台電腦的名稱-->
    <add key="COMPUTER_NAME" value="John家裡電腦" />
    <add key="REPORT_URL" value="https://3wa.tw/site_check/api_system.php"/>
    <add key="RUN_AT_START" value="YES"/> <!--啟動後馬上回報 YES NO-->
    <add key="LOOP_MINUTE" value="1"/> <!--多久跑一次 (建議是10分鐘，設10)-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
